---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardGrid from "../components/CardGrid.astro";
import Cities from "../components/Cities.astro";

---

<BaseLayout>
    <h1>Program</h1>
    <Cities></Cities>
    <CardGrid></CardGrid>
</BaseLayout>