---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardGrid from "../components/CardGrid.astro";
import Cities from "../components/Cities.astro";
import Categories from "../components/Categories.astro";
---

<BaseLayout>
    <h1>Program</h1>
    <Cities></Cities>
    <Categories></Categories>
    <CardGrid></CardGrid>
</BaseLayout>