---
const categories = [
	'alle',
	'scene',
	'gastronomi',
	'litteratur',
	'musik',
	'udstilling',
	'andet',
];				
---
<script>
	import '@material/web/iconbutton/filled-icon-button.js';
	import '@material/web/icon/icon.js';
    document.addEventListener('astro:page-load', ()=> {
        const id = 	new URLSearchParams(window.location.search).get('id');
        const cat = document.getElementById('categoryToggle')
        const catContainer = document.querySelector('.catContainer')
        console.log(id);
        cat?.addEventListener('click', ()=> {
            catContainer?.classList.toggle('active')
			if (catContainer?.classList.contains('active')) {
				cat.innerHTML = `<md-icon>arrow_drop_up</md-icon>`
			}
			else {
				cat.innerHTML = `<md-icon>arrow_drop_down</md-icon>`
			}
        })	
    })
</script>


<div class='catToggleContainer'>
	<h3>Kategorier</h3>
	<md-filled-icon-button id='categoryToggle'>
		<md-icon>arrow_drop_down</md-icon>
	</md-filled-icon-button>
</div>

<div class='catContainer'>
	{categories.map((category) => 
    <a href=`/program?category=${category}`>
    <div class='catButton'>
        <img src=`/${category}.png` alt="">{category}
    </div>
    </a>)}
</div>

<style>
    h3 {
        text-align: center;
        padding-bottom: 1.5rem;
    }

	.catToggleContainer {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	#categoryToggle {
		transform: translateY(0.5rem);
	}
	.catContainer {
		display: none;
		flex-wrap: wrap;
		width: 90vw;
		margin-left: 5vw;
		margin-right: 5vw;
		margin-bottom: 4rem;
		justify-content: center;
		gap: 1rem;
	}

    .catContainer.active {
        display: flex;
    }

	.catButton {
		display: flex;
		text-transform: uppercase;
		font-family: 'Futura Medium';
		width: 10rem;
		height: 4rem;
		padding: 0.875rem 0.875rem 0.875rem 0.5rem;
		align-items: center;
		gap: 0.5625rem;
		flex-shrink: 0;
		border-radius: 8px;
		border: 1.5px solid var(--button-border, #242424);
		box-shadow: 2px 3px 0px 0px var(--button-shadow);
	}

    .catButton img {
        height: auto;
        width: 20%;
    }

    .catContainer a {
        text-decoration: none;
        color: var(--heading-fg);
    }

    .catContainer a:visited {
        color: var(--heading-fg);
    }

	.catButton:hover {
		transform: translateX(5px) translateY(5px);
		box-shadow: none;
		transition: 0.5s;
	}
</style>
