---
import { Image } from 'astro:assets';
import menu from '../images/menu.svg';
import icon from '../images/icon.svg';
import MenuOverlay from './MenuOverlay.astro';
---

<header>
	<div class='icon'>
		<a href='/'>
			<Image src={icon} alt='icon' />
		</a>
	</div>
	<div class='dates'>
		<h6>
			Espergærde & Helsingør: <span class='bold'>26. september</span>
		</h6>
		<h6>Tikøb: <span class='bold'>19. september</span></h6>
	</div>
	<div class='hamburger'>
		<Image src={menu} alt='menu icon' class='menuIcon' />
	</div>
</header>
<MenuOverlay />
<script is:inline>
	const menuIcon = document.querySelector('.hamburger');
	const menuOverlay = document.querySelector('.menuOverlay');

	menuIcon.addEventListener('click', () => {
		menuOverlay.classList.toggle('active');
		console.log('click');
	});
</script>
<style>
	header {
		height: 10vh;
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 200;
		padding: 2.5vh 1vw;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.hamburger {
		cursor: pointer;
	}

	.menuIcon {
		height: 2rem;
		width: auto;
	}

	.dates {
		text-align: center;
		color: var(--heading-fg);
		font-family: 'Afacad Regular';
	}

	.bold {
		font-family: 'Afacad Bold';
	}
</style>
