---
import Button from "./Button.astro"
---

<section class='hero'>
	<div class='heroContainer'>
		<h1>
			KULTURNAT <br />
			HELSINGØR
		</h1>
		<Button buttonText='Se Programmet' buttonLink='/program'></Button>
	</div>
</section>

<style>
	.hero {
		background-image: url('../images/kronborg.svg');
		background-size: 400%;
		background-position: left -290vw bottom 0;
		background-repeat: no-repeat;
		display: flex;
		height: 90vh;
		flex-direction: column;
		align-items: center;
	}

    @media (min-width: 600px) {
        .hero {
            background-size: 100%;
            background-position: left 0vw bottom -5vh;
        }
    }

	.heroContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
