---

---

<h3>Billeder fra tidligere Kulturnætter</h3>

<article>
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2023/05/236971783_3068058490121637_5956891414507691080_n.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2023/05/175410104_2977493115844842_9145427735632006103_n.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2023/05/177464499_2981435698783917_3870184804063465218_n.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.1.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.8.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.20.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.24.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.28.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.35.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
  <img
    src="https://www.kulturnathelsingor.dk/wp-content/uploads/2024/09/kul_2.55.1-scaled.jpg"
    alt="tidligere billede fra kulturnatten helsingør"
  />
</article>

<style>
  article {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 20px;
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }

  @font-face {
    font-family: FuturaMedium;
    src: url(../fonts/futura-medium-bt.woff2);
  }

  @font-face {
    font-family: FuturaBold;
    src: url(../fonts/Futura-Heavy-font.woff2);
  }

  h3 {
    font-family: FuturaMedium;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
  }
</style>
