---
import { ClientRouter } from 'astro:transitions';
import '../styles/reset.css';
import '../styles/colors.css';
import '../styles/fonts.css';
import Header from '../components/Header.astro';

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang='da'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<meta name='generator' content={Astro.generator} />

		<title>{pageTitle}</title>
		<ClientRouter />
	</head>
	<Header />
	<body>
		<h1>{pageTitle}</h1>
		<slot />
	</body>

	<script
		is:inline
		src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'
	></script>
	<script is:inline src='/jquery.ripples.js'></script>
	<script is:inline src='/ripples.js'></script>

	<style is:global>
		body {
			background-image: url('../assets/sand.webp');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			min-height: 100vh;
		}

		h1 {
			font-size: 8rem;
			color: var(--heading-h1);
			text-transform: uppercase;
			text-align: center;
			font-family: 'Futura Heavy';
		}

		h2 {
			font-size: 4rem;
			color: var(--heading-h2);
			font-family: 'Futura Medium';
		}

		h3 {
			font-size: 3rem;
			color: var(--heading-h3);
			font-family: 'Futura Heavy';
		}

		h4 {
			font-size: 2rem;
			color: var(--heading-h4);
			font-family: 'Afacad Regular';
		}

		p {
			font-size: 1rem;
			color: var(--heading-fg);
			font-family: 'Afacad Regular';
		}
	</style>
</html>
